<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
		<div class="new">
			<h1>Entrar</h1>
			<form action="{{ url_for('new') }}" method="post">
				{{ form.csrf_token }}
				<label for="username" style="margin-top:20px;border-radius:5px">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Nome de Usuário" id="username" required>
				<label for="password" style="margin-top:20px;border-radius:5px">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Senha" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Entrar">
			</form>
		</div>
</body>
</html>