<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Player</title>
</head>
<body>
		<div class="new_player">
			<h1>Novo</h1>
			<form action="{{ url_for('new_player') }}" method="post">
				{{ form.csrf_token }}
				<label for="playerName" style="margin-top:20px;border-radius:5px">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="playerName" placeholder="Nome de Jogador" id="playerName" required>
				<input type="submit" value="Entrar">
			</form>
		</div>
</body>
</html>