<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
		<div class="new">
			<h1>Entrar</h1>
			<form action="{{ url_for('signIn') }}" method="post">
				{{ form.csrf_token }}
				<label for="username" style="margin-top:20px;border-radius:5px">
					<i class="fas fa-user">{{form.username.label}}</i>
				</label>
				<input type="text" name="username" placeholder="Nome de Usuário" id="username" required>

				<label for="password1" style="margin-top:20px;border-radius:5px">
					<i class="fas fa-lock">{{form.password1.label}}</i>
				</label>
				<input type="password" name="password1" placeholder="Senha" id="password1" required>

				<label for="password2" style="margin-top:20px;border-radius:5px">
					<i class="fas fa-lock">{{form.password2.label}}</i>
				</label>
				<input type="password" name="password2" placeholder="Confirme" id="password2" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Entrar">
			</form>
		</div>
</body>
</html>